/*suggested pallette colors to match wireframe mvp -#30362F off black, #625834  brown, #A59132 greeny brown, #FFFBDB light yellow, #DA7422 red */
/*suggested font pairings for application are Font-Family: 'Cormorant Garamond', Serif;
Font-Size: 55px;
Font-Family: 'Fira Sans', Sans-Serif;
Font-Size: 15px;*/

/*styling for h1 (use vw unit to overide default size and make font screen responsive)*/
h1{
  font-size: 4vw;
  color:#30362F;
  font-family: 'Cormorant Garamond', Serif;
}
h2{
  font-size: 2vw;
  color: black;
  font-family: 'Fira Sans', Sans-Serif;
}


/*styling for top app bar*/
.topAppBar{
  text-align: center;
  padding:3vh;
  background-color:#FFFBDB ;
}
/*styling for bottom app bar*/
.bottomAppBar{
  text-align: center;
  
  background-color:#FFFBDB ;
}